/* container */
@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 7680px) and (min-width: 1441px) {
  .container {
    max-width: 1320px;
  }
}
/* ------------------------------ */

/* table device */
@media screen and (max-width: 1024px) {
  .banner_content h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 991px) {
  .banner_content {
    text-align: center;
  }
  .banner_img {
    text-align: center;
  }
  .banner {
    margin-top: 50px;
  }
}
/* mobile device */
@media screen and (max-width: 575px) {
  .logo {
    font-size: 1.2rem;
  }
  header ul {
    column-gap: 12px;
  }
  header ul li a {
    width: 30px;
    height: 30px;
  }
  header ul a i {
    font-size: 1rem;
  }
  .banner_content h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .our_people h1 {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
  .our_people h2 {
    font-size: 2rem;
  }
}
